header{
    text-align: center;
}
.selected{
    display: block !important;
    border: 1px solid;
    padding: 10px;
}
.selected li{
    border: 1px solid;
    margin-bottom: 10px;
}
li ul{
    display: none;
}
.teams > li{
    width: 150px;
    text-align: center;
    float: left; 
}