<div *ngIf="teams">
  <header>
      <h2>My teams</h2>
      <h3>{{teams.organization}}</h3>
  </header>
  <ul class="teams">
      <li *ngFor="let team of teams.teams">
        <span>{{team.team}}</span><span (click)="onSelect(team, expand[team.id])" [innerHTML]="expand[team.id]===true ? '-' : '+'"></span>
        
        <ul [class.selected]="expand[team.id]===true">
          <li *ngFor="let member of team.members">
              <app-member [member]="member"></app-member>
          </li>
        </ul>
      </li>
      <div class="clr"></div>
  </ul>
</div>